<div class="container">
  <div id="title">
    <h3>WeKG-MF Knowledge Graph Exploration and Navigation</h3>
    <button></button>
  </div>
  <div id="content">
    The recent trend of adopting linked-data principles to integrate and publish semantically described open data using W3C standards has led to a large amount of available resources. In particular, meteorological sensor data have been uplifted into public weather-focused RDF graphs, such as WeKG-MF which offers access to a large set of meteorological variables described through spatial and temporal dimensions. Nevertheless, these resources include huge numbers of raw observations that are tedious to explore by lay users. In this article, we aim at providing them with visual exploratory "tours", benefiting from RDF data cubes to present high-level aggregated views together with on-demand fine-grained details through a unified Web interface.
  </div>
</div>
