<div class="container" fxLayout="column">
  <div id="title">
    <app-information-layer></app-information-layer>
  </div>
  <div id="map">
    <app-map></app-map>
  </div>
  <div id="filter">
    <app-parameter-filter></app-parameter-filter>
  </div>
  <div id="legend-chart">
    <app-legent-color-chart [scale1]="'80°C'" [scale2]="'60°C'" [scale3]="'40°C'" [scale4]="'20°C'" [scale5]="'0°C'"
    [color1]="'red'" [color2]="'blue'" [color3]="'purple'" [color4]="'yellow'" [color5]="'black'">
    </app-legent-color-chart>
  </div>

</div>

