<div class="box" fxLayout="row" fxLayoutGap="30px">
  <div class="line" fxLayout="column" fxLayoutGap="30px">
    <button (click)="selectParameter('temperature')" id="temperature">
      <span><i class="fa-solid fa-temperature-high fa-xl"></i>  Temperature</span>
    </button>
    <button (click)="selectParameter('rain')" id="rain">
      <span><i class="fa-solid fa-cloud-rain fa-xl"></i>  Rain</span>
    </button>
  </div>

  <div class="line" fxLayout="column" fxLayoutGap="30px">
    <button (click)="selectParameter('humidity')" id="humidity">
      <span><i class="fa-solid fa-droplet fa-xl"></i>  Humidity</span>
    </button>
    <button (click)="selectParameter('wind')" id="wind">
      <span><i class="fa-solid fa-wind fa-xl"></i>  Wind</span>
    </button>
  </div>
</div>


