.box {
  background: rgba(0,0,0,0.75);
  justify-items: left;
  margin-top:100px;
}

mat-button-toggle {
  color: white;
  border: transparent;
  background-color: rgba(0,0,0,0.2);
  /*font-family: 'Nunito Semibold', sans-serif;*/
  font-size: 14px;
}

.mat-button-toggle-checked {
  color: white;
  border: transparent;
  background-color: #f89146;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

button {
  background: transparent;
  border: none;
  color : white;
  text-align: left;
  cursor: pointer;
}

span:hover {
  color: #f89146;
}
.active{
  color: #f89146;

}

