.box {
  background: rgba(0,0,0,0.75);
  justify-items: left;
  margin-top:100px;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

button {
  background: transparent;
  border: none;
  color : white;
  text-align: left;
  cursor: pointer;
}

span:hover {
  color: #f89146;
}




