.box {
  /*justify-items: left;*/
  margin-top:100px;
  border-radius: 30px;
}

.line {
  margin: 10px;

}

button {
  background: rgba(0,0,0,0.30);
  border: none;
  color : white;
  cursor: pointer;
  border-radius: 100%;
  padding: 15px;
}

button:hover {
  background: #f89146;
}
.active{
  color: black;
  background: #f89146;

}

