#map {
  height: 100vh;
}
.hexbin-hexagon {
  stroke: #000;
  stroke-width: 0.5px;
}

.custom-dialog .mat-dialog-container {
  background: blue;
}

.regionLabel{
  background: rgba(0,0,0,0.75);
  border:0;
  box-shadow: 0 0px 0px;
  color: white;
}

