#chart-box {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  height: fit-content;
  width: 1100px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}


h2 {
  color: White;
  width: fit-content;
}
.icon-container{
  cursor: pointer;
  background: black;


}
mat-icon{
  margin: 10px;
  color :black;
  background: white;
  border-radius: 30px;
}
mat-icon:hover{

  background: #3901c7;

}
