#chart-box {
  background-color: rgba(0,0,0,0.95);
  color:white;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}
.custom-dialog >  mat-dialog-container {
  background: blue;
}

h2 {
  color: White;
}
