<div *ngIf="startDate > 1" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="100">
    <app-time-brush
      [startDate]="startDate"
      [endDate]="endDate"
      (rangeChanged)="handleRangeChangedEvent($event)"
      (selectedYearChanged)="handleSelectedYearChangedEvent($event)"
    ></app-time-brush>
  </div>
  <div class="icon-container">
    <mat-icon aria-hidden="false" (click)="closeDialog()" fontIcon="expand_more"></mat-icon>
  </div>


</div>

<div id="chart-box">
  <h2>{{ data.regionName }}</h2>
  <div fxLayout="column">
    <div #chart></div>
    <div class="legend-container"></div>
  </div>
</div>

