.slider-container {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.80);;
  opacity: 1;
}

mat-slider {
  min-width: 100%;
}

mat-form-field {
  margin: 130px;
  position: absolute;
  z-index: 1001;
}


p {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  font-size: 1.5em;
  color: white;
  text-align: left;
}

.custom-slider .mat-slider-thumb-label {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);;
  position: absolute;
  transform: translateX(-50%);
}


